.checkbox {
  position: relative;
}
.checkbox div {
  margin-left: 50px;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
  z-index: 20;
}
.checkmark {
  z-index: 10;
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #253b5c;
}
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
.checkbox input:hover ~ .checkmark {
  background-color: transparent;
}
.checkbox input:checked ~ .checkmark {
  background-color: transparent;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox .checkmark:after {
  left: 4px;
  top: 0px;
  width: 8px;
  height: 12px;
  border: solid #949cbc;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
