@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
input:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: #fff; /* or add it to the track */
}

/* Add a thumb */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}
html {
  overflow: hidden;
}